<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/notes">
        <span class="material-symbols-outlined align-middle">
            event_note
            </span>
        Your Notebook
      </a>
    </div>
  </nav>