<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/notes">
        <span class="material-symbols-outlined align-middle">
            event_note
            </span>
        Your Notebook
      </a>
      <div>
        <% if(!currentUser) { %>
        <a href="/register"><button class="btn btn-outline-warning mx-3">Register</button></a>
        <a href="/login"><button class="btn btn-outline-warning mx-3">Login</button></a>
        <% } else { %>
        <a href="/logout"><button class="btn btn-outline-warning mx-3">Logout</button></a>
        <% } %>
      </div>
    </div>
  </nav>